body {
	background-color: #EEEEEE;
	font-family: 'Raleway';
	text-align: center;
}

.pageContent {
  max-width: 1150px;
  margin: 0 auto;
  width: 95%;
}

h1 {
  margin-bottom: 12px;
}

.subheader {
  font-size: 22px;
	margin-top: 0;
}

.row {
  margin: 30px 0;
}

.galleryPic {
  border: 3px solid transparent;
  cursor: pointer;
	width: 100%;
}

.galleryPic:hover {
  border-color: #549ACB;
}