@import './bootstrap.min.css';

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.noScroll {
  overflow: hidden;
}

.row {
  margin: 30px 0;
}

.galleryPic {
  border: 3px solid transparent;
  cursor: pointer;
  width: 100%;
}

.galleryPic:hover {
  border-color: #549ACB;
}

.demoModalWrapper {
  margin-top: 100px;
}

.demoModalBody {
  padding: 0;
}

.arrow {
  color: #ffffff;
  border-radius: 50px;
  font-size: 40px;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}

.arrow:hover {
  background-color: #5E5E5E;
  opacity: transparent;
}

.leftArrow {
  left: -100px;
  top: 200px;
}

.rightArrow {
  right: -100px;
  top: 200px;
}

.btn-group>.btn:first-child {
    margin-left: 20px;
}

.toggleButton{
  font-size: 18px;
  margin-bottom: 20px;
  width: 100px;
}

.toggleButtonClicked{
  background-color: #549ACB;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px;
  position: absolute;
  width: 100px;
}

.toggleButtonClicked:focus {
    background-color: #549ACB;
    color: #FFFFFF;
}

.disabled{
  
}

.demoModal > .notAvailable {
  background-color: #CB5454;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 18px;
  margin: 10px;
  padding: 5px;
  position: absolute;
  width: 300px;
}

.demoModal > img {
  width: 100%;
}

.demoModal > p {
  font-size: 17px;
}

.sliderWrapper {
  margin: 25px auto;
  width: 70%;
}

.bar-0 {
  background-color: #549ACB;
  height: 3px;
}

.bar-1 {
  background-color: #818181;
  height: 3px;
}

.handle {
  background-color: #818181;
  border-radius: 15px;
  height: 20px;
  top: -10px;
  width: 20px;
}

.label {
  color: black;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 33%;
  font-size: 14px;
}

.labelLeft {
  text-align: left;
  font-size: 14px;
}

.labelRight {
  text-align: right;
  font-size: 14px;
}

.demoPageGrid {
  max-width: 1000px;
}
