@import './bootstrap.min.css';

html {
  height: 100%;
}

#app {
  height: 100%;
}

.index {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #EEEEEE;
  font-family: 'Raleway';
  height: 100%;
  text-align: center;
}

.landing {
  align-items: flex-end;
  background-color: #000000;
  background-image: url(../img/sea-nature-sunny-beach.png);
  background-size: cover;
  display: flex;
  height: 100%;
  position: relative;
}

.landing > .content {
  color: #ffffff;
  padding-bottom: 150px;
  text-shadow: 2px 4px 4px gray;
  width: 100%;
}

.landing > .content > h1 {
  font-size: 48px;
}

.landing > .content > p {
  font-size: 36px;
}

.landing > .content > a > .btn-primary {
  background-color: #549ACB;
  border-color: #549ACB;
  color: #ffffff;
  font-size: 16px;
  margin: 10px;
  padding: 14px 30px;
}

.landing > .content > a > .btn-primary:hover {
  background-color: #2e6da4;
  text-decoration: none;
}

.landing > .content > a > .btn-default {
  background-color: #434343;
  border-color: #434343;
  font-size: 16px;
  margin: 10px;
  padding: 14px 30px;
}

.landing > .content > a > .btn-default {
  color: #ffffff;
  text-decoration: none;
}

.landing > .content > a > .btn-default:hover {
  background-color: #232323;
  border-color: #434343;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf")  format("truetype");
}
