.loginWrapper {
  font-size: 20px;
  margin: 50px auto;
  max-width: 600px;
}

.loginWrapper > p {
  float: left;
  margin: 5px;
}

.loginWrapper > div > input {
  float: right;
  margin-bottom: 20px;
  width: 80%;
}

.clear {
  clear: both;
}

.loginBtn {
  background-color: #549ACB;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  margin: 50px 10px;
  width: 150px;
}

a > .registerBtn {
  background-color: #434343;
  border-color: #434343;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  margin: 50px 10px;
  width: 150px;
}

a > .registerBtn:hover {
  background-color: #232323;
  color: #ffffff;
}

a > .registerBtn:active:focus{
  background-color: #232323;
  color: #ffffff;
}

.failLabel {
  color: #F70521;
}