.centered {
  text-align: center;
  margin: 0 auto;
}

.pageContent {
  max-width: 100%;
  width: 100%;
}

.dropzoneArea {
  top: 0;
  left: 0;
  width: 95vw;
  height: 95vh;
  margin: auto;
}

.dropzoneOverlay {
  display: none;
}

.dropzoneAreaActive .dropzoneOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 235, 250, 0.85);
  border: 1px dashed gray;
}

.dropzoneOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.imageListArea {
}

.imageListAreaHeader {
  height: 90px;
  padding-bottom: 10px;
}

.selectedImageAreaHeader {
  height: 90px;
}

.imageControlArea {
  height: 420px;
}

.imageList {
  width: 100%;
  height: 420px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fileListElement {
  border: 3px solid transparent;
  cursor: pointer;
  width: 100%;
  height: 100px;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.fileListElement .uploadingOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #818181;
  opacity: 0.5;
}

.fileListElement.selected {
  background-color: #818181;
  color: white;
}

.fileListElement:not(.uploading):hover {
  border-color: #549ACB;
}

.listElementIcon {
  width: 100px;
  height: 100px;
  float: left;
}

.listElementInfo {
  text-align: center;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.listElementName {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.sliderWrapper {
  margin: 25px auto;
  height: 55px;
  width: 70%;
}

.fullImageView {
  max-height: 365px;
  max-width: 100%;
}

.bar-0 {
  background-color: #549ACB;
  height: 3px;
}

.bar-1 {
  background-color: #818181;
  height: 3px;
}

.handle {
  background-color: #818181;
  border-radius: 15px;
  height: 20px;
  top: -10px;
  width: 20px;
}

.label {
  color: black;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 33%;
  font-size: 11px;
}

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 2s ease;
}

 .Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  height: 100%;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

Resizer.disabled {
  cursor: not-allowed;
}

Resizer.disabled:hover {
  border-color: transparent;
}

.imagesTable {
  width: 100%;
}

.imagesTable th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.imagesTable th:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
};

.imageTableRow {
  display: block;
}

.imageTableRow:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}

.imageTableRow.selected {
  background-color: rgba(255, 255, 255, 0.8)
}

.imageTableRow td {
  padding: 5px;
}

.imageTableRowIcon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.imageTableRowName {
  text-align: left;
}

.imageTableRowSize {
  text-align: right;
}

.editor {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvasContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  z-index: 1;
  max-width: 980px;
  max-height: 675px;
}

.editorImage {
  max-width: 100%;
  max-height: 100%;
}

.editorContainer {
  position: relative;
  z-index: 0;
  width: 75%;
  height: 75%;
}

.editorImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.toolbox {
  width: 150px;
}

.toolbox .btn {
  margin: 5px;
}
