.navbar {
  background-color: #5E5E5E;
  border: 0;
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}

.navbar > .container {
  width: 90%;
}

.navbar-inverse .navbar-nav > li > a {
  color: #cfcfcf;
}

.navbar-inverse .navbar-brand {
  color: #cfcfcf;
}

.navbar-inverse .navbar-toggle {
  border: none;
}