.pageContent {
  max-width: 1150px;
  margin: 0 auto;
  width: 95%;
}

h1 {
  margin-bottom: 12px;
  margin-top: 30px;
}

.subtitle {
  font-size: 22px;
	margin-top: 0px;
	margin-left: 200px;
	margin-right: 200px;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway.ttf")  format("truetype");
}